* {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 4.5rem;
  text-align: center;
}
h2 {
  font-size: 3.5rem;
  font-style: oblique;
  text-decoration: dashed;
  text-align: center;
}
body {
  background-image: url(https://i0.wp.com/lemedialabo.francophonie.org/wp-content/uploads/2018/05/quiz-2058883_960_720.png?zoom=2.625&resize=396%2C214) ;
  background-color: #999999;
}

#start {
  height: 50%;
  font-size: 500%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  margin-bottom: 100%;
  width: 50%;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  margin: 30%;
  cursor: pointer;
}
