h2 {
  font-style: italic;
  font-size: 4.5rem;
  text-align: center;
}
h1 {
  font-size: 3.5rem;
  font-style: oblique;
  text-decoration: dashed;
  text-align: center;
}
body {
  background-image: url(quiz.jpg);
  background-color: #999999;
  background-repeat: no-repeat;
}

#start {
  height: 50%;
  margin-top: 60px;
  align-items: center;
  width: 50%;
  border-radius: 40px;
  outline: none;
  border: none;
  background-color: black;
  color: black;
  margin-left: 300px;
  cursor: pointer;
  padding: 5%;
}

.q1,
.q2,
.q3,
.q4 {
  margin-top: 20%;
  text-align: center;
  font-size: xx-large;
  font-style: oblique;
  font-weight: 300;
}
.ans1-btn,
.ans2-btn,
.ans3-btn,
.ans4-btn {
  border: 1px #999;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  margin: 40px;
  width: 125px;
  height: 75px;
}
.ans1-btn,.ans2-btn,.ans3-btn,.ans4-btn: :hover {
  border-color: red;
}
.container {
  display: flex;
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  width: 50%;
}

#submit {
  height: 50%;
  font-size: 500%;

  margin-bottom: 100%;
  width: 50%;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: rgb(31, 169, 224);
  color: rgb(245, 241, 241);
  margin: 30%;
  cursor: pointer;
}
div.q3 {
  box-sizing: cornflowerblue;
}
 a{
   font-size:500%;
   color: cornsilk;
 }